@import "tailwindcss";

:root {
  --background: #ffffff;
  --backgroundblack: #1d1d1b;
  --backgroundblue: #1d609d;
  --foreground: #171717;

  --font: 'BlissPro';
  --font--alt: Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f5f5f5;
  color: var(--foreground);
  font-family: 'roboto' ,sans-serif, Helvetica;
}

